input{padding: 20px;
  
    margin-bottom: 12px;
    background-color:rgb(0, 128, 43)
    
    }
    button{border-radius: 8px;
        padding: 10px;
        background-color: #2f4f4f;;
        color: black;
        
    
    
    }
    